<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrusel de Juegos</title>
    <link rel="stylesheet" href="../assets/css/carouselOfGames.css">
    <script src="../assets/js/xml-include-file.js"></script>
</head>
<body>

<section>
    <div class="title">
        <h2>Título del carrusel</h2>
        <a href="#">
            <button>VER MÁS</button>
        </a>
    </div>

    <div class="carousel" id="carousel-container">
        <div id="game1"  xlu-include-file="../partials/gameCard.html"></div>
        <div id="game2"  xlu-include-file="../partials/gameCard.html"></div>
        <div id="game3"  xlu-include-file="../partials/gameCard.html"></div>
        <div id="game4"  xlu-include-file="../partials/gameCard.html"></div>
        <div id="game5"  xlu-include-file="../partials/gameCard.html"></div>
        <div id="game6"  xlu-include-file="../partials/gameCard.html"></div>
        <div id="game7"  xlu-include-file="../partials/gameCard.html"></div>
        <div id="game8"  xlu-include-file="../partials/gameCard.html"></div>
    </div>
</section>

<script>
    xLuIncludeFile();
</script>

</body>
</html>
