<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../assets/css/gameInShoppingCart.css">
</head>
<body>

<div class="container">
  <div class="img_containter"> <img class="img" src="../assets/imgs/fifa22.png"></div>
  <div class="info">
    <div class="top_text">
      <div class="inside_text">Fifa 22</div>
      <div class="inside_text">-</div>
      <div class="inside_text">Plataforma</div>
    </div>
    <br><br><br>
    <div class="bottom_text">
      <div class="inside_text">Precio: XXXX$</div>
      <button >Mover a la cesta <img class="flecha" src="../assets/imgs/flecha.png"></button>
    </div>
  </div>
</div>
</body>
</html>