<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../assets/css/gameInShoppingCart.css">
</head>
<body>

<div class="container">
    <div><img class="img" src="../assets/imgs/fifa22.png"></div>
    <div class="info">
        <div class="top_text">
            <div class="inside_text">Fifa 22</div>
            <div class="inside_text">-</div>
            <div class="inside_text">Plataforma</div>
        </div>
        <br><br><br>
        <div class="bottom_text">
            <img class="icon" src="../assets/imgs/papelera.png">
            <div class="inside_text">Precio: XXXX$</div>
            <div class="inside_text">Cantidad:
                <div class="select-container">
                <select id="select-quantity">
                    <option >1</option>
                    <option >2</option>
                    <option >3</option>
                    <option >4</option>
                    <option >5</option>
                    <option >6</option>
                    <option >7</option>
                    <option >8</option>
                    <option >9</option>
                    <option >10</option>
                </select>
            </div> </div>

        </div>
    </div>
</div>
</body>
</html>