<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Header</title>
    <link rel="stylesheet" href="../assets/css/header.css">
</head>
<body>
<header>
    <div class="header">
        <!-- Grupo: Select -->
        <div class="select-container">
            <select id="languageSelect">
                <option value="none">-- Language --</option>
                <option value="es">Spanish</option>
                <option value="en">English</option>
            </select>
            <img src="" alt="Bandera" class="flag" id="flag">
        </div>

        <!-- Grupo: Search -->
        <div class="search-bar">
            <input type="text" placeholder="Search">
            <button class="advanced-search">Advanced Search</button>
        </div>

        <!-- Grupo: Logo -->
        <div class="logo">
            <a href="">
                <img src="../assets/imgs/logo.png" alt="Logo">
            </a>
        </div>

        <!-- Grupo: Icons -->
        <div class="icons">
            <a href="">
                <img class="icon" src="../assets/imgs/carrito.webp" alt="Carrito">
            </a>
            <a href="">
                <img class="icon" src="../assets/imgs/log_in_icon.png" alt="Usuario">
            </a>
        </div>
    </div>
</header>
</body>
</html>
