<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/views/checkout.css">
    <script type="module" src="../../assets/js/modules/viewsScripts/checkout.js"></script>

</head>
<body>

<header id="main_header"></header>


<h1>
    <a href="cart.html"> <img class="flecha" src="../../assets/imgs/flecha.png"> </a>
    Pago
</h1>

<div class="checkout">

    <div class="checkout__methods">
    <div class="checkout__methods-dropdown">
      <button class="dropbtn">VISA</button>
      <div class="dropdown-content">
        <div class="checkout__method-card">
            <form action="" method="get">
                <div class="checkout__card-input">
                    <label for="Number">Número de la tarjeta</label>
                    <input class="input" type ="text" name="nickname" id="Number"  value="1234 5678 9012 3456">
                </div>
                <div class="checkout__card-inputsmall">
                    <div class="checkout__card-input">
                        <label for="expiredate">Fecha de caducidad</label>
                        <input class="input-small" type ="text" name="nickname" id="expiredate" value="MM/YY">
                    </div>
                    <div class="checkout__card-input">
                        <label for="CVV">CVV</label>
                        <input class="input-small" type ="text" name="nickname" id="CVV" value="XXX">
                    </div>
                </div>
                <div class="checkout__card-input">
                    <label for="cardHolder">Titular de la tarjeta</label>
                    <input class="input" type ="text" name="nickname" id="cardHolder" value="John Doe ">
                </div>
            </form>
        </div>
      </div>
    </div>
        <div class="checkout__methods-linked">
            <a class="link" href="https://www.paypal.com/es/home">Paypal</a>
        </div>
        <div class="checkout__methods-linked">
            <a class="link" href="https://bizum.com/es/">Bizum</a>
        </div>
    </div>



  <div class="checkout__resumen">
    <h1>Resumen</h1>
    <p class="checkout_resumen-text">Titulo - Plataforma - Precio</p>
    <p class="checkout_resumen-text">Titulo - Plataforma - Precio</p>
    <p class="checkout_resumen-text">Titulo - Plataforma - Precio</p>
    <p class="checkout_resumen-text">Total: XXXX$</p>
      <button class="button">Comprar</button>
  </div>
</div>

<footer id="footer"></footer>

</body>
</html>