<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lost password</title>
    <link rel="stylesheet" href="../../assets/css/views/lostPassword.css">
    <script type="module" src="../../assets/js/modules/viewsScripts/forgotPassword.js"></script>
</head>
<body>
<!-- Grupo: Top -->
<div class="Top">
  <!-- Grupo: Logo -->
  <div class="Logo">
    <a href="./index.html">
      <img class="LogoImg" src="../../assets/imgs/logo.png" alt="Logo">
    </a>
  </div>
</div>

<!-- Grupo: LostPassword -->
<div class="LostPasswordDiv">
  <h1 style="text-align: center">¿Olvidaste tu contraseña?</h1>

  <!-- Grupo: LostPasswordBox -->
  <div class="LostPasswordBox">
    <form id="lostPasswordForm">
      <!-- Grupo: EmailPart -->
      <div class="PartDiv">
        <label for="EmailField">Establece el correo electrónico del usuario al que se le va a cambiar la contraseña</label>
        <input type="email" id="EmailField" name="Email" placeholder="Email address" required>
      </div>

      <!-- Grupo: PasswordPart -->
      <div class="PartDiv">
        <label for="PasswordField">Nueva contraseña</label>
        <input type="password" id="PasswordField" name="Password" placeholder="Password" required>
      </div>

      <!-- Grupo: PasswordRepeatPart -->
      <div class="PartDiv">
        <label for="PasswordRepeatField">Repite la nueva contraseña</label>
        <input type="password" id="PasswordRepeatField" name="PasswordRepeat" placeholder="Password again" required>
      </div>

      <!-- Grupo: Submit -->
      <div class="Submit">
        <button class="SubmitButton" type="submit" >Confirmar</button>
      </div>
    </form>
  </div>
</div>
</body>
</html>