<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My reviews</title>
  <link rel="stylesheet" type="text/css" href="../../assets/css/views/myReviews.css">
  <script type="module" src="../../assets/js/modules/viewsScripts/myReviews.js"></script>
</head>
<body>

<header id="main_header"></header>

<div class="myReviews__userButton" id="UserMenuButton"></div>


<div class="ReviewsContainer">
  <div class="review"></div>
  <div class="review"></div>
  <div class="review"></div>
  <div class="review"></div>
  <div class="review"></div>
</div>


<footer id="footer"></footer>


</body>
</html>