<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Verificación OTP</title>
    <link rel="stylesheet" href="../../assets/css/views/OTPVerification.css">
    <script type="module" src="../../assets/js/modules/viewsScripts/OTPVerification.js"></script>
</head>
<body>

<div class="Top">
    <div class="Top__Logo">
        <a href="./index.html">
            <img class="Top__Logo__LogoImg" src="../../assets/imgs/logo.png" alt="Logo">
        </a>
    </div>
</div>

<main class="otp-container">
    <h1 class="otp-container__title">Verificación del cambio de contraseña</h1>

    <section class="otp-container__box">
        <form id="OTPForm">
            <div class="otp-input-group">
                <label for="OTPField">Revisa tu correo electrónico para obtener el código de verificación que ha sido enviado.</label>
                <input type="text" id="OTPField" name="OTPCode" placeholder="Introduce el código OTP" required>
            </div>

            <div class="otp-request">
                <button type="button">Solicitar OTP</button>
            </div>

            <div class="otp-submit">
                <button class="accept-button" type="submit">Aceptar</button>
            </div>
        </form>
    </section>
</main>

</body>
</html>
