<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pago</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/views/payment.css">
    <script type="module" src="../../assets/js/modules/viewsScripts/checkout.js"></script>

</head>
<body>

<header id="main_header"></header>


<h1>
    <a href="ShoppingCart.html"> <img class="flecha" src="../../assets/imgs/flecha.png"> </a>
    Pago
</h1>

<div class="container">

    <div class="methods">
    <div class="dropdown">
      <button class="dropbtn">VISA</button>
      <div class="dropdown-content">
        <div class="payment_method">
            <form action="form-handler.php" method="get">
                <div class="inputs_container">
                    <label for="Number">Número de la tarjeta</label>
                    <input class="input" type ="text" name="nickname" id="Number"  value="1234 5678 9012 3456">
                </div>
                <div class="CVV_caducidad_container">
                    <div class="inputs_container">
                        <label for="caducidad">Fecha de caducidad</label>
                        <input class="inputCVVcad" type ="text" name="nickname" id="caducidad"  value="MM/YY">
                    </div>
                    <div class="inputs_container">
                        <label for="CVV">CVV</label>
                        <input class="inputCVVcad" type ="text" name="nickname" id="CVV"  value="XXX">
                    </div>
                </div>
                <div class="inputs_container">
                    <label for="Titular">Titular de la tarjeta</label>
                    <input class="input" type ="text" name="nickname" id="Titular"  value="John Doe ">
                </div>
            </form>
        </div>
      </div>
    </div>
        <div class="linked_methods">
            <a class="link" href="https://www.paypal.com/es/home">Paypal</a>
        </div>
        <div class="linked_methods">
            <a class="link" href="https://bizum.com/es/">Bizum</a>
        </div>
    </div>



  <div class="resumen">
    <h1>Resumen</h1>
    <p class="text">Titulo - Plataforma - Precio</p>
    <p class="text">Titulo - Plataforma - Precio</p>
    <p class="text">Titulo - Plataforma - Precio</p>
    <p class="text">Total: XXXX$</p>
      <button class="button">Comprar</button>
  </div>
</div>

<footer id="footer"></footer>

</body>
</html>