<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Reset password</title>
  <link rel="stylesheet" href="../../assets/css/views/resetPassword.css">
</head>
<body>
<div class="Top">
  <div class="Top__Logo">
    <a href="./index.html">
      <img class="Top__Logo__LogoImg" src="../../assets/imgs/logo.png" alt="Logo">
    </a>
  </div>
</div>

<div class="ValidationDiv">
  <h1 style="text-align: center">El cambio se ha ejecutado correctamente</h1>

  <div class="ValidationDiv__ValidationBox">
    <h1 id="ValidationText">El cambio de contraseña se ha realizado con éxito. Ahora puedes dirigirte al logotipo para acceder a la página principal del sitio web o hacer clic en el icono de entrar en perfil para iniciar sesión con tu nueva contraseña.</h1>

    <div class="icons">
      <a class="IconContainer" href="./userConfiguration.html">
        <img class="Icon" src="../../assets/imgs/profile_icon.webp" alt="Usuario">
      </a>
    </div>
  </div>
</div>
</body>
</html>
