<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Section</title>
    <link rel="stylesheet" href="../../assets/css/views/seccionView.css">
    <script type="module" src="../../assets/js/modules/viewsScripts/viewMoreSections.js"></script>
</head>
<body>
    <header id="main_header"></header>
    <div class="Title Section">
        <h1>Title Section</h1>
    </div>

    <div id="gallery1"></div>

    <footer id="footer"></footer>
</body>
</html>