<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cesta</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/views/shoppingCart.css">
    <script type="module" src="../../assets/js/modules/viewsScripts/cart.js"></script>
</head>
<body>

    <header id="main_header"></header>

    <h1>Cesta</h1>

    <div class="cart">
        <div class="cart_carousel">
           <div class="cart__game"></div>
           <div class="cart__game"></div>
           <div class="cart__game"></div>
           <div class="cart__game"></div>
           <div class="cart__game"></div>
           <div class="cart__game"></div>
        </div>

      <div class="payment">

            <div class="payment__text">
                Precio: XXXX$
            </div>

            <div class="payment__text">
                Descuento: XXXX$
            </div>

            <div class="payment__text">
                Precio: XXXX$
            </div>


            <a href="payment.html">
                <button class="payment__ApplyButton" type="submit">  Proceder con el pago  </button>
            </a>

            <a class="payment__keep_buying" href="index.html">
                Seguir comprando
                <img class="payment__flecha" src="../../assets/imgs/flecha.png">
            </a>

      </div>
    </div>

    <div class="suggested">
        <div id="gameSuggested1"></div>
        <div id="gameSuggested2"></div>
        <div id="gameSuggested3"></div>
    </div>

    <footer id="footer"></footer>
</body>
</html>

