<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mis Reseñas</title>
  <link rel="stylesheet" type="text/css" href="../../assets/css/userReviews.css">
  <script type="module" src="../../assets/js/main.js"></script>
</head>
<body data-page="userReviews">

<header id="main_header"></header>

<div class="userButton" id="UserMenuButton"></div>


<div class="review-container">

  <div id="reviews1"></div>
  <div id="reviews2"></div>
  <div id="reviews3"></div>

</div>


<footer id="footer"></footer>


</body>
</html>