<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mis Reseñas</title>
  <link rel="stylesheet" type="text/css" href="../../assets/css/userReviews.css">
  <script src="../../assets/js/modules/xml-include-file.js"></script>
</head>
<body>

<header xlu-include-file="../partials/header.html"></header>

<div class="userButton" xlu-include-file="../partials/userMenuButton.html"></div>


<div class="review-container">

  <div xlu-include-file="../partials/userReview.html"></div>
  <div xlu-include-file="../partials/userReview.html"></div>
  <div xlu-include-file="../partials/userReview.html"></div>
  <div xlu-include-file="../partials/userReview.html"></div>
  <div xlu-include-file="../partials/userReview.html"></div>

</div>



<footer xlu-include-file="../partials/footer.html"></footer>

<script>
  document.addEventListener("DOMContentLoaded", xLuIncludeFile);
</script>

</body>
</html>