<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mis recibos</title>
  <link rel="stylesheet" type="text/css" href="../../assets/css/views/userReceipts.css">
  <script type="module" src="../../assets/js/modules/viewsScripts/myOrders.js"></script>
</head>
<body data-page="userReceipts">

<header id="main_header"></header>

<div class="userButton" id="userMenuButton"></div>

<table class="table">
  <tr>
    <th>Fecha</th>
    <th>Estado</th>
    <th>Pedido</th>
    <th>Id del pedido</th>
    <th>Tipo de Pago</th>
    <th>Total</th>
    <th>Recibos</th>
  </tr>

  <tr>
    <td>01/01/2021</td>
    <td>Activo</td>
    <td>Fifa 22</td>
    <td>123456789</td>
    <td>VISA$</td>
    <td>XXXX$</td>
    <td class="receipt_container">
        <a href="">Recibo</a>
    </td>
  </tr>
  <tr>
    <td>01/01/2021</td>
    <td>Activo</td>
    <td>Fifa 22</td>
    <td>123456789</td>
    <td>VISA$</td>
    <td>XXXX$</td>
    <td class="receipt_container">
        <a href="">Recibo</a>
    </td>
  </tr>
  <tr>
    <td>01/01/2021</td>
    <td>Activo</td>
    <td>Fifa 22</td>
    <td>123456789</td>
    <td>VISA$</td>
    <td>XXXX$</td>
    <td class="receipt_container">
        <a href="">Recibo</a>
    </td>
  </tr>
  <tr>
    <td>01/01/2021</td>
    <td>Activo</td>
    <td>Fifa 22</td>
    <td>123456789</td>
    <td>VISA$</td>
    <td>XXXX$</td>
    <td class="receipt_container">
        <a href="">Recibo</a>
    </td>
  </tr>
  <tr>
    <td>01/01/2021</td>
    <td>Activo</td>
    <td>Fifa 22</td>
    <td>123456789</td>
    <td>VISA$</td>
    <td>XXXX$</td>
    <td class="receipt_container">
        <a href="">Recibo</a>
    </td>
  </tr>
  <tr>
    <td>01/01/2021</td>
    <td>Activo</td>
    <td>Fifa 22</td>
    <td>123456789</td>
    <td>VISA$</td>
    <td>XXXX$</td>
    <td class="receipt_container">
        <a href="">Recibo</a>
    </td>
  </tr>
</table>


<footer id="footer"></footer>

</body>
</html>