@import url('../../fonts/fonts.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Genos", sans-serif !important;
    background-color: #272727;
}

/* Estilos generales */
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

/* Barra de búsqueda */
.search-bar {
    width: 80%;
    max-width: 600px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
    text-indent: 30px;
    background: #f5f5f5 url('../../imgs/search-icon.webp') no-repeat 10px center;
    background-size: 16px;
    margin-top: 2rem;
}

/* Contenedor de desplegables */
.filter-dropdowns {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 3rem;
}

/* Estilos de los select */
.filter-select {
    background: #6a0dad;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.filter-select:hover {
    background: #520c9e;
}

#search-results{
    padding: 1rem;
}
