@import url('../../fonts/fonts.css');
body{
    background: #272727;
    color: #ffffff;
    font-weight: bold;
    margin: 0;
}

h1{
    font-family: "Genos", sans-serif;
    place-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.dropdown-content {
    display: none;
    background: transparent;
    padding: 5px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

.dropbtn{
    font-family: "Genos", sans-serif;
    font-weight: bold;
    font-size: 50px;
    place-self: center;
    width: 600px;
    height: 100px;
    background: #6119b4;
    border-radius: 10px;
    color: white;
}
.checkout__methods-dropdown:focus-within .dropdown-content {
    display: grid;
    place-self: center;
    align-items: center;
    align-content: center;
}
.checkout__method-card{
    width: 600px;
    height: 333.33px;
    background: #6119b4;
    border-radius: 15px;
}

.checkout__methods{
    width: 630px;
    display: flex;
    margin: 50px auto;
    flex-direction: column;
}

.checkout__resumen{
    width: 475px;
    height: 320px;
    padding: 10px;
    background: #B11262;
    margin: 50px auto;
    border-radius: 20px;
    justify-items: center;
    display: flex;
    flex-direction: column;
}
.checkout_resumen-text{
    font-size: 20px;
}

.button{
    font-family: "Genos", sans-serif;
    font-size: 25px;
    width: 475px;
    color: white;
    height: 300px;
    background: #6119b4;
    border-radius: 10px;
}

.checkout__card-input {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.input{
    font-family: "Genos", sans-serif;
    font-size: 15px;
    width: 100%;
    max-width: 400px;
    margin: 5px 0;
    padding: 15px;
    border-radius: 5px;
    color: gray;
    border: #fff solid 1px;
    background-color: #6119b4;
}

.input-small{
    font-family: "Genos", sans-serif;
    font-size: 15px;
    width: 95%;
    margin: 5px 0;
    padding: 15px;
    border-radius: 5px;
    color: gray;
    border: #fff solid 1px;
    background-color: #6119b4;
}


.checkout__card-inputsmall{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.checkout__methods-linked{
    margin-top: 10px ;
    font-size: 50px;
    align-content: center;
    width: 600px;
    height: 100px;
    background: #6119b4;
    border-radius: 10px;
    color: white;
    border: 2px solid black;
}

.link{
    place-self: center;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    text-decoration: none;
}

.checkout{
    font-family: "Genos", sans-serif;
    display: flex;
    flex-direction: row;
    min-height: 74.33vh;
}
.flecha{
    width: 75px;
    height: 25px;
    rotate: -180deg;
    position: absolute;
    align-self: center;
    right: 95%;
}
