@import url('../../fonts/fonts.css');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #272727;
    display: flex;
    flex-direction: column;
}

.Titles {
    font-size: 5rem;
    font-family: "Genos", sans-serif;
    color: white;
}

.Paragraph {
    width: 70%;
    font-family: sans-serif;
    color: white;
}


header {
    width: 100%;
    flex-shrink: 0;
}

.main_container{
    flex:1;
}

#Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 2rem;
}

#GameShowcase {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#GameContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#GameImage {
    width: 70%;
    max-width: 34.375rem;
    max-height: 50rem;
    height: auto;
    border: 0.3125rem solid black;
    border-radius: 1.25rem;
    margin-right: auto;
}

#PriceContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vw 3vw;
    border: 5px solid black;
    background: #771777;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25 px);
    box-shadow: 0 0 50px #771777;
}


#LogoImgContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.LogoImg {
    width: 80%;
    max-width: 200px;
    height: auto;
}

#Price {
    width: 80%;
    text-align: center;
    padding: 5%;
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #000000;
}

#CartButton {
    width: 80%;
    text-align: center;
    padding: 5%;
    font-size: 1rem;
    color: white;
    background-color: #441991;
}


.SubTitles {
    font-family: "Genos", sans-serif;
    font-size: 50px;
    color: white;
}

#DescriptionParagraph {
    font-size: 25px;
    color: white;
    width: 100%;
    word-wrap: break-word;
    margin: 0;
}
#GameMedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#GameMedia__GameVideo{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
}

.video-container {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.video-container iframe {
    width: 100%;
    height: 100%;
}

#GameImages {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
}

#ImagesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MediaImagesRow {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    margin-top: 1vw;
}

.MediaImage {
    width: 30vw;
    max-width: 650px;
    max-height: 400px;
}

#ReviewArea {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
}

#ReviewForm {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
}

.visually-hidden {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#Review {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #6119B4;
    border-radius: 8px;
    outline: none;
    resize: vertical;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#Review:focus {
    border-color: #6119B4;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

#ReviewButton {
    color: white;
    background-color: #441991;
    padding: 1vw;
    border: 2px solid white;
}

.ReviewsContainer {
    width: 100%;
    height: 300px;
    overflow-y: auto;
    border-radius: 10px;
}

.Review {
    display: flex;
    align-items: center;
    background: #2a2a2a;
    padding: 0.9375rem;
    margin-bottom: 0.625rem;
    border-radius: 0.625rem;
    box-shadow: 0.125rem 0.125rem 0.3125rem rgba(255, 255, 255, 0.1);
}

.UserImg {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    margin-right: 0.9375rem;
}

.ReviewContent {
    color: #fff;
    font-size: 0.875rem;
}

@media (max-width: 900px) {
    #GameShowcase {
        justify-content: center;
        align-items: center;
    }

    #GameContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }

    #GameImage {
        margin-right: 0;
    }

}

@media (max-width: 480px) {

    #GameShowcase {
        justify-content: center;
        align-items: center;
    }

    #GameContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }

    .Titles {
        font-size: 3rem;
    }

    .SubTitles {
        font-size: 2rem;
    }

    .GameDescription {
        font-size: 1rem;
    }

    #GameImage {
        margin-right: 0;
    }

    .LogoImg {
        display: none;
    }

    .userReview__game-title {
        display: none;
    }
    .userReview__game-img {
        display: none;
    }
}
