@import url('../../fonts/fonts.css');

html, body {
    font-family: "Genos", sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #272727;
    display: flex;
    color: #fff;
    flex-direction: column;
}

header {
    width: 100%;
    flex-shrink: 0;
}

.main_container{
    flex:1;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myOrders__userButton {
    display: flex;
    justify-content: center;
    width: 100%;
}

.myOrders__ordersContainer {
    width: 90%;
    max-width: 73.4375rem;
    height: 46.875rem;
    background-color: transparent;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 5rem;
    gap: 3rem;
}

footer {
    width: 100%;
    flex-shrink: 0;
}