<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/footer.css">
    <title>Footer</title>
</head>
<body>
    <footer>
        <a href="../views/aboutUs.html" class="about-link">
            <div class="about-us-container">
                <img src="../../assets/imgs/charmander.gif" alt="Decorative Icon">
                <p>ABOUT US</p>
                <img src="../../assets/imgs/charmander.gif" alt="Decorative Icon">
            </div>
        </a>
    </footer>
</body>
</html>
