<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../../assets/css/partials/gameInShoppingCart.css">
</head>
<body>

<div class="cartItem">
  <div > <img class="cartItem__img" src="../../assets/imgs/fifa22.png"></div>
  <div>
    <div class="cartItem__top_text">
      <div class="cartItem__inside_text">Fifa 22</div>
      <div class="cartItem__inside_text">-</div>
      <div class="cartItem__inside_text">Plataforma</div>
    </div>
    <div class="cartItem__bottom_text">
      <div class="cartItem__inside_text">Precio: XXXX$</div>
      <button class="cartItem__move_to_cart" >Mover a la cesta <img class="cartItem__flecha" src="../../assets/imgs/flecha.png"></button>
    </div>
  </div>
</div>
</body>
</html>