<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../assets/css/partials/gameInShoppingCart.css">
</head>
<body>

<div class="cartItem">
    <div><img class="cartItem__img" src="../../assets/imgs/fifa22.png"></div>
    <div class="info">
        <div class="cartItem__top_text">
            <div class="cartItem__inside_text">Fifa 22</div>
            <div class="cartItem__inside_text">-</div>
            <div class="cartItem__inside_text">Plataforma</div>
        </div>
        <div class="cartItem__bottom_text">
            <img class="trashCan" src="../../assets/imgs/papelera.png">
            <div class="cartItem__inside_text">Precio: XXXX$</div>
            <div class="cartItem__inside_text">Cantidad:
                <div class="cartItem__select_container">
                <select id="cartItem__select-quantity">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>