<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/partials/gamesCardGallery.css">
</head>
<body>
<section class="gallery-container" data-gallery>

    <div class="gallery"></div>

    <div class="pagination">
        <button id="prevPage">◁</button>
        <span id="pageNumber">1</span>
        <button id="nextPage">▷</button>
    </div>

</section>

<script type="module">
    import { initializeGalleries } from "../../assets/js/modules/functions/loadGallery.js";

    document.addEventListener('DOMContentLoaded', () => {
        initializeGalleries();
    });
</script>
</body>
</html>