<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game-Card</title>
    <link rel="stylesheet" href="../../assets/css/gameCard.css">
</head>
<body>
<div class="cards-container">
    <a href="../views/GameShowcase.html">
        <div class="game-card">
            <img src="../../assets/imgs/fifa22.png" alt="FIFA 22 Cover" class="game-cover">
            <div class="game-info">
                <h3 class="game-title">FIFA 22</h3>
                <p class="game-price">$59.99</p>
            </div>
        </div>
    </a>
</div>
</body>
</html>
