<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../assets/css/partials/mainHeader.css">
</head>
<body>
<header>
    <div class="mainHeader">
        <div class="mainHeader__select-container">
            <select id="languageSelect">
                <option value="none">-- Language --</option>
                <option value="es" selected>Spanish</option>
                <option value="en">English</option>
            </select>
        </div>

        <div class="mainHeader__search-bar">
            <form action="../views/advancedSearch.html" method="GET">
                <input type="text" name="query" placeholder="Search">
            </form>
            <button class="mainHeader__advanced-search" onclick="location.href='../views/advancedSearch.html'">Advanced Search</button>
            <a class="mainHeader__search-bar__search-icon" href="../views/advancedSearch.html">
                <img src="../../assets/imgs/search-icon.webp" alt="search-button">
            </a>
        </div>

        <div class="mainHeader__logo">
            <a href="../views/index.html">
                <img src="../../assets/imgs/logo.png" alt="Logo">
            </a>
        </div>

        <div class="mainHeader__icons">
            <a id=cartLink href="../views/login.html">
                <img id="cartIcon" src="../../assets/imgs/carrito.webp" alt="Carrito">
            </a>
            <a id="logLink" href="../views/login.html">
                <img id="logIcon" src="../../assets/imgs/log_in_icon.png" alt="Usuario">
            </a>
        </div>
    </div>
</header>
<script type="module">
    import { updateHeaderBasedOnUser } from "../../assets/js/modules/functions/loaders/userHeaderLoader.js";
    updateHeaderBasedOnUser();
</script>
</body>
</html>
