<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Header</title>
    <link rel="stylesheet" href="../../assets/css/partials/mainHeader.css">
</head>
<body>
<header>
    <div class="mainHeader">
        <!-- Grupo: Select -->
        <div class="mainHeader__select-container">
            <select id="languageSelect">
                <option value="none">-- Language --</option>
                <option value="es" selected>Spanish</option>
                <option value="en">English</option>
            </select>
        </div>

        <!-- Grupo: Search -->
        <div class="mainHeader__search-bar">
            <input type="text" placeholder="Search">
            <a href="../views/advancedSearch.html">
                <button class="mainHeader__advanced-search">Advanced Search</button>
            </a>
        </div>

        <!-- Grupo: Logo -->
        <div class="mainHeader__logo">
            <a href="../views/index.html">
                <img src="../../assets/imgs/logo.png" alt="Logo">
            </a>
        </div>

        <!-- Grupo: Icons -->
        <div class="mainHeader__icons">
            <a href="../views/ShoppingCart.html">
                <img class="icon" src="../../assets/imgs/carrito.webp" alt="Carrito">
            </a>
            <a href="../views/login.html">
                <img class="icon" src="../../assets/imgs/log_in_icon.png" alt="Usuario">
            </a>
        </div>
    </div>
</header>
</body>
</html>
