<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../assets/css/partials/memberCard.css">
</head>
<body>
<div class="column">
    <div class="card">
        <img src="../../assets/imgs/fifa22.png" alt="Member 1">
        <div class="member-info">
            <h3>Name</h3>
            <p class="member-job">Full Stack Developer</p>
            <p><a href="mailto:member1@gmail.com">member1@gmail.com</a></p>
        </div>
    </div>
</div>
</body>
</html>