<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../assets/css/partials/order.css" rel="stylesheet">
    <title>Detalle de Pedido</title>

</head>
<body>

<div class="order-card">
    <div class="order-status">COMPLETADO</div>
    <div class="order-content">
        <div class="product-image">
            <img src="">

            <div class="product-name">FIFA 22</div>
        </div>

        <div class="order-details">
            <div class="order-header">
                <div class="order-number">ID: #120137331</div>
                <div class="order-date">20/07/2024</div>
            </div>

            <div class="order-specs">
                <div class="spec-item">
                    <span class="spec-label">Sistema:</span> PC
                </div>
                <div class="spec-item">
                    <span class="spec-label">Plataforma:</span> Steam
                </div>
                <div class="spec-item">
                    <span class="spec-label">Precio:</span> 50$
                </div>
            </div>

            <a href="#" class="download-link">DESCARGAR FACTURA</a>
        </div>
    </div>
</div>

</body>
</html>