<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../../assets/css/partials/userReview.css">
</head>
<body>
<div class="userReview">
  <div class="userReview__game-containter">
    <img class="userReview__game-img" src="../../assets/imgs/fifa22.png">
    <div class="userReview__game-title"> Fifa 22 </div>
  </div>

  <div class="userReview__info">

  <img class="userReview__user-img" src="../../assets/imgs/fifa22.png">
  <div class="userReview__Review">
    <p class="userReview__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    </p>
  </div>
  </div>
</div>
</body>
</html>