<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../../assets/css/partials/userMenuButton.css">

</head>
<body>
<div class="userMenuButton">
    <a href="../views/myReviews.html" class="userMenuButton__buttons">
        <p class="userMenuButton__text">Mis Reseñas</p>
    </a>
    <a href="../views/userSettings.html" class="userMenuButton__buttons">
        <p class="userMenuButton__text">Configuración</p>
    </a>
    <a href="../views/myOrders.html" class="userMenuButton__buttons">
        <p class="userMenuButton__text">Mis pedidos</p>
    </a>
</div>
</body>
</html>