<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../../assets/css/partials/userMenuButton.css">

</head>
<body>
    <div class="userMenuButton">
      <div class="userMenuButton__buttons"><a href="../views/myReviews.html" class="userMenuButton__text">Mis Reseñas</a>  </div>
      <div class="userMenuButton__buttons"><a href="../views/userSettings.html" class="userMenuButton__text">Configuración</a> </div>
      <div class="userMenuButton__buttons"><a href="../views/myOrders.html" class="userMenuButton__text">Mis Pedidos</a> </div>
    </div>
</body>
</html>