@import url('../fonts/fonts.css');

body {
    font-family: "Genos", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #272727;
    width: 100%;
}

header, main, footer {
    width: 100%;
}

section {
    margin: 2rem auto;
    padding: 1rem;
    max-width: 1200px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

.title h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #f4f4f4;
    margin: 0;
}

.title button {
    background-color: #7121cd;
    color: #fff;
    border: none;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    outline: none;
}

.title button:hover {
    background-color: #511298;
    transform: scale(1.05);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    align-items: stretch;
    padding: 0.5rem;
}

.game-card {
    width: 200px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    text-align: center;
    margin: 0;
    flex-grow: 1;
}

.game-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.game-cover {
    width: 100%;
    height: auto;
    display: block;
}

.game-info {
    font-family: "Genos", sans-serif;
    padding: 0 1rem 0.25rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.game-title {
    font-size: 1.8rem;
    margin: 0.1rem 0;
    font-weight: 600;
}

.game-price {
    color: #333;
    font-size: 1.5rem;
    margin: 0.1rem 0;
}

@media (max-width: 768px) {
    section {
        padding: 0.5rem;
    }

    .title {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .title h2 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .gallery {
        gap: 0.5rem;
        padding: 0.5rem;
        justify-content: center;
    }
}
