body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width: 100%;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #f30202, #0101fd);
    padding: 4px;
    flex-wrap: wrap;
}

/* Select container */
.select-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin: auto;
}

/* Select */
select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

/* Search bar */
.search-bar {
    display: flex;
    align-items: flex-end;
    flex: 1;
    justify-content: center;
    margin: 10px 0;
}

.search-bar input {
    width: 40%;
    max-width: 60%;
    transition: width 0.3s ease-in-out;
    padding: 6px;
    border: 1px solid #555;
    border-radius: 15px;
}

.search-bar input:focus {
    width: 80%;
    border-color: #093968;
    outline: none;
}

/* Advanced search button */
.advanced-search {
    margin-left: 10px;
    background: #909090;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.advanced-search:hover {
    background-color: #606060   ;
    transform: scale(1.05);
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 128px;
}

.logo img {
    height: 64px;
}


.logo:hover {
    background-color: #1E1EBF   ;
    transform: scale(1.05);
    border-radius: 50px;
}

/* Icons */
.icons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
    padding-right: 20px;
}

.icons img {
    width: 40px;
    height: 40px;
    margin-left: 6px;
}

/* Media queries para dispositivos pequeños */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: stretch;
        padding: 10px;
    }

    .logo {
        margin-right: 0;
        margin-bottom: 10px;
    }



    .search-bar {
        width: 100%;
    }

    .search-bar input {
        width: 80%;
        max-width: 100%;
    }

    .select-container {
        flex-direction: column;
        align-items: center;
    }

    .icons {
        justify-content: center;
        margin: 10px 0;
    }
}

/* Media queries para dispositivos muy pequeños */
@media (max-width: 480px) {
    .search-bar input {
        width: 90%;
    }

    .advanced-search {
        padding: 5px;
        font-size: 14px;
    }

    select {
        font-size: 14px;
        padding: 4px;
    }

    .icons img {
        width: 30px;
        height: 30px;
    }
}
