@import url('../fonts/fonts.css');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #272727;
}

h1, label, a {
    font-family: "Genos", sans-serif;
    color: white;
}

input {
    width: 90%;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
    background: transparent;
    color: white;
    border: white solid 1px;
}

input::placeholder {
    color: #fff;
    font-weight: lighter;
}

.Top {
    padding: 2%;
    display: flex;
    flex-direction: row;
}

.LogoImg {
    width: 200px;
    background: #1E1EBF;
    border-radius: 45px;
}

.LogoImg:hover {
    background-color: #1E1Ead   ;
    transform: scale(1.05);
    border-radius: 50px;
}

.LoginDiv {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PartDiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.LoginBox {
    position: relative;
    width: 100%;
    padding: 10% 5%;
    background: none;
}

.LoginBox::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #6119b4;
    filter: blur(10px);
    z-index: -1;
    border-radius: inherit;
}

.Submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LoginButton {
    scale: 1.5;
    margin-top: 2rem;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    background: #1E1EBF;
    border: white solid 2px;
    border-radius: 5px;
}