@import url('../fonts/fonts.css');


body {
    font-family: "Genos", sans-serif;
    line-height: 1.6;
    background-color: #272727;
    color: #ffffff;
    font-weight: bold;
}

.ReviewsContainer {
    width: 1175px;
    height: 750px;
    background-color: #6119b4;
    place-self: center;
    padding: 10px;
    border-radius: 15px;
    margin: 30px;
    overflow-y: auto;
}


.userButton{
    display: grid;
    place-items: center;
}
