.button_background{
    width: 530px;
    height: 60px;
    background-color: #663399FF;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin: 20px;
}

.inner_buttons{
    background-color: #EBEBEF;
    width: 33%;
    height: 50px;
    margin: 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    color: #050038;
    text-decoration: none;
}