<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Configuración</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/configuration.css">
    <script src="../assets/js/modules/xml-include-file.js"></script>
</head>
<body>

<header id="main_header" xlu-include-file="../partials/header.html"></header>

<div class="userButton" id="userMenuButton" xlu-include-file="../partials/userMenuButton.html"> </div>

<div class="gen_container">

    <div class="image_container">
        <img class="image" src="../assets/imgs/fifa22.png" alt="Imagen de perfil">
        <p class="nickname">Berto_69</p>
    </div>

    <div class="form_container">
        <form action="form-handler.php" method="get">
            <div class="inputs_container">
                <label for="nickname">Cambiar el nickname</label>
                <input class="input" type="text" name="nickname" id="nickname">
            </div>

            <div class="inputs_container">
                <label for="birthday">Cambiar el cumpleaños</label>
                <input class="input" type="date" name="birthday" id="birthday">
            </div>

            <div class="inputs_container">
                <label for="region">Cambiar de región</label>
                <select class="input" id="region" name="region">
                    <option value="EU">EU</option>
                    <option value="NA">NA</option>
                    <option value="LATAM">LATAM</option>
                    <option value="AFR">AFR</option>
                    <option value="ASIA">ASIA</option>
                </select>
            </div>

            <div class="inputs_container">
                <label for="language">Cambiar de idioma</label>
                <select class="input" id="language" name="language">
                    <option value="Español">Español</option>
                    <option value="English">English</option>
                </select>
            </div>

            <div class="button_container">
                <input class="ApplyButton" type="submit" value="Aplicar" id="save">
            </div>
        </form>
    </div>

</div>

<footer id="main_footer" xlu-include-file="../partials/footer.html"></footer>

<script>
    document.addEventListener("DOMContentLoaded", xLuIncludeFile);
</script>
</body>
</html>
