<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log in</title>
    <link rel="stylesheet" href="../assets/css/Login.css">
</head>
<body>
<!-- Grupo: Top -->
<div class="top">
    <!-- Grupo: Logo -->
    <div class="logo">
        <a href="">
            <img class="logo-image" src="../assets/imgs/logo.png" alt="Logo">
        </a>
    </div>
</div>

<!-- Grupo: Login -->
<div class="login-div">
    <h1 style="text-align: center">Iniciar Sesión</h1>

    <!-- Grupo: Login box -->
    <div class="login-box">
        <form>
            <!-- Grupo: email part -->
            <div class="email-div">
                <label for="email-field">Email del usuario</label>
                <input type="email" id="email-field" name="email" placeholder="Email address" required>
            </div>

            <!-- Grupo: password part -->
            <div class="password-div">
                <label for="password-field">Contraseña del usuario</label>
                <input type="password" id="password-field" name="password" placeholder="Password" required>
                <a href="">¿Has olvidado tu contraseña?</a>
            </div>

            <!-- Grupo: submit -->
            <div class="submit">
                <a href="">registrarse</a>
                <button class="login-button" type="submit" >Log in</button>
            </div>

        </form>
    </div>
</div>

</body>
</html>
