<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log in</title>
    <link rel="stylesheet" href="../assets/css/Login.css">
</head>
<body>
<!-- Grupo: Top -->
<div class="Top">
    <!-- Grupo: Logo -->
    <div class="Logo">
        <a href="../templates/index.html">
            <img class="LogoImg" src="../assets/imgs/logo.png" alt="Logo">
        </a>
    </div>
</div>

<!-- Grupo: Login -->
<div class="LoginDiv">
    <h1 style="text-align: center">Iniciar Sesión</h1>

    <!-- Grupo: LoginBox -->
    <div class="LoginBox">
        <form>
            <!-- Grupo: EmailPart -->
            <div class="PartDiv">
                <label for="EmailField">Email del usuario</label>
                <input type="email" id="EmailField" name="Email" placeholder="Email address" required>
            </div>

            <!-- Grupo: PasswordPart -->
            <div class="PartDiv">
                <label for="PasswordField">Contraseña del usuario</label>
                <input type="password" id="PasswordField" name="Password" placeholder="Password" required>
                <a href="../templates/lostPassword.html">¿Has olvidado tu contraseña?</a>
            </div>

            <!-- Grupo: Submit -->
            <div class="Submit">
                <a href="../templates/signUp.html">Registrarse</a>
                <a href="../templates/configuration.html">
                    <button class="LoginButton" type="submit" >Log in</button>
                </a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
