<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OTP Verification</title>
    <link rel="stylesheet" href="../assets/css/OTPVerification.css">
</head>
<body>
<!-- Grupo: Top -->
<div class="Top">
    <!-- Grupo: Logo -->
    <div class="Logo">
        <a href="">
            <img class="LogoImg" src="../assets/imgs/logo.png" alt="Logo">
        </a>
    </div>
</div>

<!-- Grupo: Login -->
<div class="OTPDiv">
    <h1 style="text-align: center">Verificación del cambio de contraseña</h1>

    <!-- Grupo: OTPBox -->
    <div class="OTPBox">
        <form>
            <!-- Grupo: OTPPart -->
            <div class="PartDiv">
                <label for="OTPField">Revisa tu correo electrónico para obtener el código de verificación que ha sido enviado.</label>
                <input type="text" id="OTPField" name="OTPCode" placeholder="Introduce el código OTP ">
            </div>

            <!-- Grupo: Accept -->
            <div class="Accept">
                <button onclick="">Solicitar OTP</button>
                <button class="AcceptButton" type="submit" >Aceptar</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
