@import url('../../fonts/fonts.css');

footer {
    background: linear-gradient(to right, #f30202, #0101fd);
    padding: 1rem 0;
    margin: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutUs__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: white;
}

.aboutUs__link-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.aboutUs__link-container p {
    margin: 0;
    font-family: "Genos", sans-serif;
    color: white;
    font-weight: 900;
    font-style: italic;
    transition: color 0.3s ease;
    text-decoration: none;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    height: 100%;
}

.aboutUs__link:visited,
.aboutUs__link:active,
.aboutUs__link:hover {
    text-decoration: none;
    color: white;
}

.aboutUs__link-container img {
    width: 4rem;
    height: 4rem;
    transition: transform 0.3s ease;
}

.aboutUs__link-container:hover p {
    color: #ffcc00;
}

.aboutUs__link-container:hover img {
    transform: scale(1.2);
}

@media (max-width: 900px) {
    .aboutUs__link-container {
        display: flex;
        gap: 1rem;
    }

    .aboutUs__link-container p {
        font-size: 2rem;
    }

    .aboutUs__link-container img {
        width: 2rem;
        height: 2rem;
    }
}

@media (max-width: 480px) {
    .aboutUs__link-container {
        display: flex;
        gap: 0.5rem;
    }

    .aboutUs__link-container p {
        font-size: 1.5rem;
    }

    .aboutUs__link-container img {
        width: 2rem;
        height: 2rem;
    }
}
