body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width: 100%;
}

.secondHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #f30202, #0101fd);
    padding: 0.5rem;
    flex-wrap: nowrap;
}

.secondHeader__select-container {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

select {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.secondHeader__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    width: auto;
    max-width: 5rem;
}

.secondHeader__logo img {
    height: 5rem;
}

.secondHeader__logo img:hover {
    transform: scale(1.1);
    background: #871fbb;
    cursor: pointer;
    border-radius: 50px;
}

.secondHeader__icons {
    display: flex;
    align-items: center;
    gap: 0.15rem;
    padding-right: 1rem;
}

.secondHeader__icons img {
    width: 4rem;
    height: 4rem;
    margin-left: 0.5rem;
}

.secondHeader__icons img {
    width: 3rem;
    height: 3rem;
    transition: transform 0.3s ease;
}

.secondHeader__icons img:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .secondHeader {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .secondHeader__logo {
        max-width: 4rem;
    }
}

@media (max-width: 480px) {
    .secondHeader {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .secondHeader__select-container {
        flex-shrink: 0;
        margin: 0.25rem;
        width: 4rem;
    }

    .secondHeader__logo,
    .secondHeader__icons {
        flex-shrink: 0;
        margin: 0.25rem;
        min-width: auto;
    }

    select {
        font-size: 1rem;
        padding: 0.5rem;
        width: 3rem;
    }

    .secondHeader__icons img {
        width: 3rem;
        height: 3rem;
    }

    .secondHeader__select-container {
        flex-shrink: 0.5;
        margin: 0.25rem;
        width: 3rem;
    }
}
