@import url('../../fonts/fonts.css');

body {
    margin: 0;
    font-family: "Genos", sans-serif;
}

.userReview__game-img{
    border-radius: 20px;
    height: 200px;
    width: 170px;
}

.userReview__game-containter{
    margin-left: 10px;
    margin-right:40px;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.userReview__user-img{
    width: 100px;
    height: 100px;
    border-radius: 50px;

}

.userReview__info{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}
.userReview__Review{
    display: grid;
    width: 760px;
    height: 140px;
    padding: 20px;
    align-content: center;
    align-items: center;
}

.userReview__game-title{
    font-family: "Genos", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.userReview__text{
    color: #FFFFFF;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    font-family: "Genos", sans-serif;
    gap: 10px;
}

.select_container {
    display: flex;
    align-items: center;
    margin: auto;
    width: 30px;
    height: 30px;
    background-color: #663399FF;
}

.userReview{
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 1150px;
    height: 300px;
    margin: auto;
    border-bottom: black solid 2px;
}

