@import url('../../fonts/fonts.css');

body {
    font-family: "Genos", sans-serif;
}


.userMenuButton{
    width: 530px;
    height: 60px;
    background: linear-gradient(to right, #f30202, #0101fd);
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin: 20px;
}

.userMenuButton__buttons{
    background-color: #EBEBEF;
    width: 33%;
    height: 50px;
    margin: 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userMenuButton__buttons:hover {
    transform: scale(1.05);
    background-color: #989898;
}

.userMenuButton__text{
    color: #000;
    font-weight: 700;
    text-decoration: none;
}
