@import url('../../fonts/fonts.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: "Genos", sans-serif;
    background: #272727;
}

.userReview__game-img{
    border-radius: 20px;
    height: 12rem;
    width: 10rem;
}

.userReview__game-containter{
    margin-left: 1rem;
    margin-right:3rem;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.userReview__user-img{
    width: 7.25rem;
    height: 7rem;
    border-radius: 50px;

}

.userReview__user-containter{
    margin-left: 1rem;
    margin-right:3rem;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.userReview__info{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}
.userReview__Review{
    display: grid;
    width: 90%;
    height: 100%;
    padding: 2rem;
    align-content: center;
    align-items: center;
}

.userReview__game-title{
    font-family: "Genos", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}


.userReview__user-name{
    font-family: "Genos", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
}

.userReview__text{
    color: #FFFFFF;
    display: flex;
    width: 100%;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1.5rem;
    font-family: "Genos", sans-serif;
    text-align: justify;
    gap: 1rem;
}

.select_container {
    display: flex;
    align-items: center;
    margin: auto;
    width: 3rem;
    height: 3rem;
    background-color: #663399FF;
}

.userReview{
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 90%;
    height: 20rem;
    margin: auto;
    border-bottom: black solid 2px;
}

@media (max-width: 900px) {
    .userReview {
        width: 90%;
        flex-direction: column;
        height: auto;
        padding: 1.25rem;
    }

    .userReview__Review {
        width: 100%;
        height: auto;
    }

    .userReview__game-containter {
        display: none;
    }

    .userReview__text {
        font-size: 1.125rem;
    }
}

@media (max-width: 480px) {
    .userReview {
        width: 100%;
        padding: 0.625rem;
    }

    .userReview__game-containter {
        display: none;
    }

    .userReview__user-img {
        width: 5rem;
        height: 5rem;
    }

    .userReview__user-name {
        font-size: 0.975rem;
    }

    .userReview__Review {
        padding: 0.625rem;
    }

    .userReview__text {
        font-size: 0.75rem;
        padding: 0.3125rem;
    }
}
